<div class="mt-5 grid sm:grid-cols-1 md:grid-cols-3 gap-8">
  <div>
      <img src="/assets/covers/ff7e.jpg" alt="" class="uk-thumbnail cover"/>
  </div>
  <div class="col-span-2">

    <h2>Ressources</h2>

    <ul class="list" *ngIf="links | async as links$; else loading">
      <li *ngFor="let e of links$">
        <a [href]="e.url" target="_blank">
          <div class="button">{{ e.action || 'Voir' }}</div>
          <div class="li-first">
            <span *ngIf="e.lang" class="label lang-en">en anglais</span>
            {{ e.title }}
          </div>
          <div class="li-second">{{ e.desc }}</div>
        </a>
      </li>
    </ul>
    <ng-template #loading><i uk-icon="loading"></i> ~loading~</ng-template>

  </div>

</div>
