<div class="flex flex-col h-dvh">
  <div class="p-3 flex bg-gray-200">
    <div class="grow font-bold">Reader</div>
    <button class="cursor-pointer" [class]="{'text-gray-500': !isMusicActive()}" (click)="toggleMusic()">
      <fa-icon [icon]="faMusic" />
    </button>
    <a routerLink="/reader/glossary">
      <fa-icon [icon]="faBook" />
    </a>
    <a routerLink="/reader/options">
      <fa-icon [icon]="faCog" />
    </a>
  </div>

  <div class="p-3 grow text-justify text-xl overflow-y">
    @for (image of images; track $index) {
      <img [src]="getImageSrc(image)" />
    }
    @if (content) {
      <div [innerHTML]="content"></div>
    }
  </div>

  <div class="p-3 flex bg-gray-200">
    <div>
      @if (previousButton()) {
        <button (click)="previous()">Précédent</button>
      }
    </div>
    <div class="grow"></div>
    <div>
      @if (nextButton()) {
        <button (click)="next()">Suivant</button>
      }
    </div>
  </div>
<div>
