<header>
  <div class="py-8">

    <div class="container mx-auto">

      <h1>『Final Fantasy VII: Expérience』</h1>
      <div class="cursor-pointer inline-block text-white" (click)="toggleDark()">
        <span *ngIf="theme === 'light'" class="material-icons-outlined">
          light_mode
        </span>
        <span *ngIf="theme === 'dark'" class="material-icons-outlined">
          dark_mode
        </span>
      </div>

      <p class="teaser" *ngIf="quote">「{{ quote.content }}」 — {{ quote.character }}, chapitre {{ quote.chapter }}
      <span class="material-icons-outlined cursor-pointer" (click)="changeQuote()">
        refresh
      </span>
    </div>

  </div>


<div class="dark:text-white pb-4">
  <div class="container mx-auto">

        <nav>
          <ul>
            <li>
              <a routerLink="/presentation" routerLinkActive="current">
                Présentation
              </a>
            </li>
            <li>
              <a routerLink="/chapitres" routerLinkActive="current">
                Chapitres
              </a>
            </li>
            <li>
              <a routerLink="/historique" routerLinkActive="current">
                Historique
              </a>
            </li>
            <li>
              <a routerLink="/equipe" routerLinkActive="current">
                Équipe
              </a>
            </li>
            <li>
              <a routerLink="/liens" routerLinkActive="current">
                Liens
              </a>
            </li>
            <li>
              <a routerLink="/commentaires" routerLinkActive="current">
                Commentaires
              </a>
            </li>
          </ul>
        </nav>
      </div>

  </div>

</header>

<div class="dark:bg-gray-800 dark:text-white">
  <div class="container mx-auto">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <div class="container mx-auto">
    <p>
      <span>&copy;</span> L'histoire, les personnages et les lieux de cette fanfiction appartiennent à SQUARE
      ENIX.
    </p>

    <nav>
      <ul class="list-inline">
        <li>
          <a routerLink="/presentation" routerLinkActive="current">Présentation</a>
        </li>
        <li>
          <a routerLink="/chapitres" routerLinkActive="current">Chapitres</a>
        </li>
        <li>
          <a routerLink="/historique" routerLinkActive="current">Historique</a>
        </li>
        <li>
          <a routerLink="/equipe" routerLinkActive="current">Équipe</a>
        </li>
        <li>
          <a routerLink="/liens" routerLinkActive="current">Liens</a>
        </li>
        <li>
          <a routerLink="/commentaires" routerLinkActive="current">Commentaires</a>
        </li>
      </ul>
    </nav>

    <ul class="list-inline">
      <li>
        &nbsp;
        <a
          href="mailto:contact@ff7e.com"
          target="_blank"
        >Contact</a>
      </li>
      <li class="muted">·</li>
      <li>
        &nbsp;
        <a
          href="https://www.facebook.com/ff7experience"
          target="_blank"
        >Facebook</a>
      </li>
      <li class="muted">·</li>
      <li>
          &nbsp;
          <a
            href="https://twitter.com/ff7experience"
            target="_blank"
          >Twitter</a>
      </li>
    </ul>

  </div>
</footer>
