<div class="py-5 grid sm:grid-cols-1 md:grid-cols-3 gap-8">
  <div>
      <img src="/assets/covers/ff7e.jpg" alt="" class="uk-thumbnail cover"/>
  </div>
  <div class="col-span-2">

    <app-section-title>Équipe</app-section-title>

    <ul class="list" *ngIf="contributors">
      <li *ngFor="let e of contributors.staffActive" class="nolink">
        <div class="li-first">
          <img
            class="inline-block"
            *ngIf="e.avatar"
            [src]="'/assets/team/' + e.avatar + '.png'"
            width="32"
          />
          {{ e.name }}
        </div>
        <div class="li-second">{{ e.role }}</div>
      </li>
    </ul>

    <app-section-title>Contributions</app-section-title>

    <p class="lead" *ngIf="contributors">
      <span *ngFor="let e of contributors['contributors'];  let last = last;" class="nolink">
        {{ e }}{{ last ? '' : ', ' }}
      </span>
    </p>

  </div>

</div>
