<div class="grid gap-8 py-5 sm:grid-cols-1 md:grid-cols-3">
  <div>
    <img src="/assets/covers/ff7e.jpg" alt="" class="uk-thumbnail cover"/>
  </div>
  <div class="col-span-2">

    <app-section-title>Ressources</app-section-title>

    @if (links) {
      <ul class="list">
        @for (e of links; track e) {
          <li>
            <a [href]="e.url" target="_blank">
              <div class="button">{{ e.action || 'Voir' }}</div>
              <div class="li-first">
                @if (e.lang) {
                  <span class="label lang-en">en anglais</span>
                }
                {{ e.title }}
              </div>
              <div class="li-second">{{ e.desc }}</div>
            </a>
          </li>
        }
      </ul>
    } @else {
      <fa-icon [icon]="faRefresh" /> ~loading~
    }

  </div>

</div>
