<footer class="py-10 text-center text-gray-300 bg-gray-400 dark:bg-gray-900">
  <div class="container mx-auto">
    <p>
      <span>&copy;</span> L'histoire, les personnages et les lieux de cette fanfiction appartiennent à SQUARE
      ENIX.
    </p>

    <nav>
      <ul class="list-inline">
        <li>
          <a routerLink="/presentation" routerLinkActive="current">Présentation</a>
        </li>
        <li>
          <a routerLink="/chapitres" routerLinkActive="current">Chapitres</a>
        </li>
        <li>
          <a routerLink="/historique" routerLinkActive="current">Historique</a>
        </li>
        <li>
          <a routerLink="/equipe" routerLinkActive="current">Équipe</a>
        </li>
        <li>
          <a routerLink="/liens" routerLinkActive="current">Liens</a>
        </li>
        <li>
          <a routerLink="/commentaires" routerLinkActive="current">Commentaires</a>
        </li>
      </ul>
    </nav>

    <ul class="list-inline">
      <li>
        &nbsp;
        <a
          href="https://www.facebook.com/ff7experience"
          target="_blank"
        >Facebook</a>
      </li>
      <li class="muted">·</li>
      <li>
        &nbsp;
        <a
          href="https://twitter.com/ff7experience"
          target="_blank"
        >Twitter</a>
      </li>
    </ul>

  </div>
</footer>
