/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

/** DESIGN TWO COLUMNS **/

header {
  background: url(/assets/fanart/000-the-prelude.jpg) top left #464646;
  text-align: center;
  color: #aaa;
}

.header-main {
  padding: 30px 0;
}

.header-nav {
  padding-bottom: 30px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  @apply uppercase align-middle mr-5 inline-block;
  letter-spacing: 1px;
  font-size: 1.3em;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

nav a, nav a:visited {
  text-decoration: none;
  color: #aaa;
}

nav a:hover {
  color: #ccc;
  text-decoration: underline;
}

nav a.current {
  color: #ccc;
  font-size: 1.5em;
}

.page {
  padding: 30px 0;
  background-color: #fff;
}

.teaser {
  letter-spacing: 2px;
  font-style: italic;
}

header {
  [uk-icon]:hover {
    cursor: pointer;
  }
}

/** COMBINED vIEWS **/

.cover {
  box-shadow: #eee 2px 1px 2px 1px;
}

footer {
  background: url(/assets/fanart/000-the-prelude.jpg) top right #999;
  padding: 30px 0;
  font-size: 1.5em;
  color: #eee;
  text-align: center;
  margin-top: 50px;
}

footer a {
  line-height: 1.8em;
  color: #ddd;
}

footer a:hover {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px dotted #eee;
}

/* Hack pour magnificPopup */

figure {
  margin: 0;
}

/** GENERAL **/

h1 {
  @apply tracking-wide uppercase font-bold text-white m-0 inline-block text-3xl;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

fieldset {
  border: 0;
  border-top: 1px solid #3d73a9;
}

legend {
  font-size: 1.6em;
  color: #3d73a9;
}

.lead {
  @apply text-justify text-gray-500 text-xl;
}

.quote {
  @apply text-justify text-gray-400 text-xl mx-10 my-12;
}

.quote span {
  @apply text-blue-500 font-bold uppercase;
}

.info {
  font-size: 1.6em;
  text-align: justify;
  color: #666;
  line-height: 1.4em;
}

.label {
  font-size: 0.7em;
  margin: 0 2px;
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
  vertical-align: 10%;
  line-height: normal;
  font-variant: small-caps;
  letter-spacing: 2px;
}

hr {
  margin-top: 75px;
  border: none;
}

b, strong {
  font-weight: 700;
}

*+p {
  margin-top: 15px;
}

/** HOME LIST STYLE **/

ul.list {
    list-style: none;
    padding: 0;
}

ul.list li {
    border-left: 3px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}

ul.list li a {
    display: block;
    text-decoration: none;
}

.icon {
    position: absolute;
    opacity: 0.1;
    right: 0;
    top: 0;
    z-index: 2;
    display: none;
}

.li-first {
    font-size: 1.5em;
    line-height: 2em;
    color: #666;
}

.li-warning {
    font-size: 1.2em;
    line-height: 2em;
    color: #900;
}

.li-second {
    font-size: 1.3em;
    margin-left: 5px;
    color: #999;
}

.button {
    float: right;
    font-size: 1.4em;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #ddd;

    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 3px solid #fefefe;
    padding: 0 6px;
    font-weight: bold;
    background-color: #fefefe;
    box-shadow: #ddd 0 1px 1px 0;
}

.button:before {
    content: " ";
}

.button2 {
    font-size: 1.4em;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #999;

    border: 1px solid #ddd;
    padding: 0 6px;
    font-weight: bold;
    background-color: #fefefe;
    box-shadow: #ddd 0 1px 1px 0;
}

.button2:before {
    content: " ";
}

.right li:hover .button {
    color: #666;
}

/** HOME LIST HOVER **/

ul.list li:hover {
    background-color: #f5f5f5;
}

ul.list li.nolink:hover {
    cursor: default;
}

ul.list li:hover .button {
    color: #444;
}

ul.list li:hover .button:before {
    content: url('/assets/cursor.png');
    position: relative;
    top: 2px;
    right: 2px;
    animation: cursorMove 1s linear infinite;
    -webkit-animation: cursorMove 1s linear infinite;
}

.button2:hover {
    color: #444;
}

.button2:hover:before {
    content: url('/assets/cursor.png');
    position: relative;
    top: 2px;
    right: 2px;
    animation: cursorMove 1s linear infinite;
    -webkit-animation: cursorMove 1s linear infinite;
}

@keyframes cursorMove {
    50% {
        right: 6px;
    }
    100% {
        right: 2px;
    }
}

@-webkit-keyframes cursorMove {
    50% {
        right: 6px;
    }
    100% {
        right: 2px;
    }
}

/**
 * HISTORY
 */

.line {
    text-align: center;
}

/**
 * LIST FOOTER
 */

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
}

footer ul li.muted {
    margin: 0 5px;
    color: #fff;
}

.lang-en {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-variant: small-caps;
}

.uk-icon-refresh:hover {
    cursor: pointer;
    font-weight: bold;
}
