<div class="mt-5 grid sm:grid-cols-1 md:grid-cols-3 gap-8">
  <div class="col-span-1 text-center">
    <img src="/assets/covers/ff7e.jpg" alt="" class="uk-thumbnail cover"/>

    <p id="newsletter"></p>
  </div>
  <div class="sm:col-span-1 md:col-span-2">

    <p class="lead">
      <strong>Ce projet d'écriture a pour ambition de novéliser le jeu Final Fantasy VII<sup>&reg;</sup></strong>.
      Créé en 1997 par Square, Final Fantasy VII est un jeu de rôle sur Playstation qui est devenu très
      populaire, grâce à son univers immense et riche, son scénario aux multiples rebondissements et ses
      personnages charismatiques. Cette fanfiction n'a pas été écrite dans le but de remplacer l'oeuvre originale,
      mais se positionne davantage comme un contenu additionnel qui se propose de porter un nouveau regard sur ce
      chef-d'œuvre vidéoludique.
    </p>

    <p class="quote">
      <span>SYNOPSIS</span> Cloud Strife, un jeune mercenaire, rejoint le groupe terroriste Avalanche dans les
      bas-fonds de Midgar. Leur objectif est de délivrer le monde de la domination de la Shinra, une corporation
      toute-puissante qui exploite sans vergogne l'énergie de la Planète, la tuant à petit feu...
    </p>

    <ul class="list">
      <li>
        <a routerLink="/chapitres">
          <div class="button">Lire</div>
          <span class="li-first"><hero-icon name="folder"></hero-icon> Lire en ligne</span>
          <span class="li-second">Via Google Docs</span>
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/uc?export=download&amp;id={{pdf}}">
          <div class="button">Télécharger</div>
          <span class="li-first"><hero-icon name="cloud-download"></hero-icon> Version 2.0 - PDF</span>
          <span class="li-second">Lire hors-ligne</span>
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/uc?export=download&amp;id={{mobi}}">
          <div class="button">Télécharger</div>
          <span class="li-first"><hero-icon name="cloud-download"></hero-icon> Version 2.0 - MOBI</span>
          <span class="li-second">Pour KINDLE</span>
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/uc?export=download&amp;id={{epub}}">
          <div class="button">Télécharger</div>
          <span class="li-first"><hero-icon name="cloud-download"></hero-icon> Version 2.0 - EPUB</span>
          <span class="li-second">Pour les autres liseuses</span>
        </a>
      </li>
      <li *ngFor="let chapter of featured">
        <a href="https://docs.google.com/document/d/{{chapter.id}}/edit" target="_blank">
          <div class="button">Lire</div>
          <span class="li-first"><i uk-icon="bookmark"></i> {{chapter.title}} <span
                  class="label featured2">nouveau</span></span>
          <span class="li-second">{{chapter.date}}</span>
        </a>
      </li>
    </ul>

  </div>
</div>

<div class="mt-10 px-44 h-96 mx-auto">
  <youtube-player
    [videoId]="teaser"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    width="100%" height="100%"
  ></youtube-player>
</div>

<div class="mt-10 px-44 grid sm:grid-cols-1 md:grid-cols-2 gap-16">
  <div class="col-span-1">
    <p class="lead">
      <strong><hero-icon name="question-mark-circle"></hero-icon>
      Y a-t-il une version papier du roman ?</strong><br/>
      Non, nous n'avons pas les droits malheureusement.
    </p>
    <p class="lead">
      <strong><hero-icon name="question-mark-circle"></hero-icon>
      Depuis combien de temps ce projet existe-t-il ?</strong><br/>
      La première version du roman a été écrite intégralement par Menencia de 2004 à 2009.
      Deux ans plus tard, Jam a rejoint le projet en tant qu'auteur. Le 7 Janvier 2020,
      tous les chapitres sont enfin publiés.
      (<a href="/historique">en savoir plus</a>)
    </p>
  </div>

  <div class="col-span-1">
    <p class="lead">
      <strong><hero-icon name="question-mark-circle"></hero-icon>
      Je connais déjà l'histoire de FFVII. Ce n'est pas mieux d'y jouer plutôt ?</strong><br/>
      Ce roman ne remplace pas l'expérience de jeu. Si vous aimez lire, il peut être aussi immersif,
      passionnant et surprenant. Une telle adaptation a également l'ambition d'étendre davantage
      l'histoire du jeu : des scènes inédites ont été écrites, des ajustements ont été apportés pour
      réduire les incohérences du jeu et certains personnages de l'histoire profitent d'un bien
      meilleur développement.
    </p>
  </div>
</div>
